# DS CA3
## Task 1
Written by Babak Hosseini Mohtasham 810101408, Parsa Ahmadi 810101609 and Mahdy Naeini 810101536\

### Libraries

In [130]:
import pyspark
from pyspark.sql import SparkSession
from IPython.display import display, HTML
display(HTML('<style>pre { white-space: pre !important; }</style>'))
from pyspark.sql import functions

## Warm-Up!

In [131]:
def show_df(df,n=5):
    print(f'Count of data frame is: {df.count()}')
    df.show(n)

In [132]:
spark=SparkSession.builder.appName('DS_CA3').getOrCreate()

In [133]:
spark

In [134]:
df_pyspark=spark.read.csv('stocks.csv',header=True,inferSchema=True)

In [135]:
show_df(df_pyspark)
df_pyspark.printSchema()
df_pyspark.describe().show()

Count of data frame is: 1762
+----------+----------+----------+------------------+------------------+---------+------------------+
|      Date|      Open|      High|               Low|             Close|   Volume|         Adj Close|
+----------+----------+----------+------------------+------------------+---------+------------------+
|2010-01-04|213.429998|214.499996|212.38000099999996|        214.009998|123432400|         27.727039|
|2010-01-05|214.599998|215.589994|        213.249994|        214.379993|150476200|27.774976000000002|
|2010-01-06|214.379993|    215.23|        210.750004|        210.969995|138040000|27.333178000000004|
|2010-01-07|    211.75|212.000006|        209.050005|            210.58|119282800|          27.28265|
|2010-01-08|210.299994|212.000006|209.06000500000002|211.98000499999998|111902700|         27.464034|
+----------+----------+----------+------------------+------------------+---------+------------------+
only showing top 5 rows

root
 |-- Date: date (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

+-------+------------------+------------------+------------------+-----------------+-------------------+------------------+
|summary|              Open|              High|               Low|            Close|             Volume|         Adj Close|
+-------+------------------+------------------+------------------+-----------------+-------------------+------------------+
|  count|              1762|              1762|              1762|             1762|               1762|              1762|
|   mean| 313.0763111589103| 315.9112880164581| 309.8282405079457|312.9270656379113|9.422577587968218E7| 75.00174115607275|
| stddev|185.29946803981522|186.89817686485767|183.38391664371008|185.1471036170943|6.020518776592709E7| 28.57492972179906|
|    min|              90.0|         90.699997|         89.470001|        90.279999|           11475900|         24.881912|
|    max|        702.409988|        705.070023|        699.569977|       702.100021|          470249500|127.96609099999999|
+-------+------------------+------------------+------------------+-----------------+-------------------+------------------+

In [136]:
show_df(df_pyspark.drop()) #No null values

Count of data frame is: 1762
+----------+----------+----------+------------------+------------------+---------+------------------+
|      Date|      Open|      High|               Low|             Close|   Volume|         Adj Close|
+----------+----------+----------+------------------+------------------+---------+------------------+
|2010-01-04|213.429998|214.499996|212.38000099999996|        214.009998|123432400|         27.727039|
|2010-01-05|214.599998|215.589994|        213.249994|        214.379993|150476200|27.774976000000002|
|2010-01-06|214.379993|    215.23|        210.750004|        210.969995|138040000|27.333178000000004|
|2010-01-07|    211.75|212.000006|        209.050005|            210.58|119282800|          27.28265|
|2010-01-08|210.299994|212.000006|209.06000500000002|211.98000499999998|111902700|         27.464034|
+----------+----------+----------+------------------+------------------+---------+------------------+
only showing top 5 rows

In [137]:
show_df(df_pyspark.filter(df_pyspark['Close'] < 500).select(['Open','Close','Volume']))

Count of data frame is: 1359
+----------+------------------+---------+
|      Open|             Close|   Volume|
+----------+------------------+---------+
|213.429998|        214.009998|123432400|
|214.599998|        214.379993|150476200|
|214.379993|        210.969995|138040000|
|    211.75|            210.58|119282800|
|210.299994|211.98000499999998|111902700|
+----------+------------------+---------+
only showing top 5 rows

In [138]:
show_df(df_pyspark.filter((df_pyspark['Open'] > 200) & (df_pyspark['Close'] < 200)).select(['Open', 'Close', 'Volume']))

Count of data frame is: 3
+------------------+----------+---------+
|              Open|     Close|   Volume|
+------------------+----------+---------+
|206.78000600000001|    197.75|220441900|
|        204.930004|199.289995|293375600|
|        201.079996|192.060003|311488100|
+------------------+----------+---------+

In [139]:
df_pyspark = df_pyspark.withColumn('Year', functions.year(df_pyspark['Date']))
show_df(df_pyspark)

Count of data frame is: 1762
+----------+----------+----------+------------------+------------------+---------+------------------+----+
|      Date|      Open|      High|               Low|             Close|   Volume|         Adj Close|Year|
+----------+----------+----------+------------------+------------------+---------+------------------+----+
|2010-01-04|213.429998|214.499996|212.38000099999996|        214.009998|123432400|         27.727039|2010|
|2010-01-05|214.599998|215.589994|        213.249994|        214.379993|150476200|27.774976000000002|2010|
|2010-01-06|214.379993|    215.23|        210.750004|        210.969995|138040000|27.333178000000004|2010|
|2010-01-07|    211.75|212.000006|        209.050005|            210.58|119282800|          27.28265|2010|
|2010-01-08|210.299994|212.000006|209.06000500000002|211.98000499999998|111902700|         27.464034|2010|
+----------+----------+----------+------------------+------------------+---------+------------------+----+
only showing top 5 rows

In [140]:
show_df(df_pyspark.groupBy('Year').min(('Volume')))

Count of data frame is: 7
+----+-----------+
|Year|min(Volume)|
+----+-----------+
|2015|   13046400|
|2013|   41888700|
|2014|   14479600|
|2012|   43938300|
|2016|   11475900|
+----+-----------+
only showing top 5 rows

In [151]:
show_df(df_pyspark.groupBy('Year').min('Volume').withColumnRenamed('min(Volume)', 'minVolume'),10)

Count of data frame is: 7
+----+---------+
|Year|minVolume|
+----+---------+
|2015| 13046400|
|2013| 41888700|
|2014| 14479600|
|2012| 43938300|
|2016| 11475900|
|2010| 39373600|
|2011| 44915500|
+----+---------+

In [154]:
df_pyspark = df_pyspark.withColumn('Month', functions.month(df_pyspark['Date']))
show_df(df_pyspark.groupBy(['Year', 'Month']).max('Low').withColumnRenamed('max(Low)', 'maxLow'), 84)

Count of data frame is: 84
+----+-----+------------------+
|Year|Month|            maxLow|
+----+-----+------------------+
|2012|   10|        665.550026|
|2010|    7|        260.300003|
|2010|   12|        325.099991|
|2015|    2|        131.169998|
|2014|    4|        589.799988|
|2015|   12|        117.809998|
|2016|    7|            103.68|
|2016|   11|        111.400002|
|2012|    8| 673.5400089999999|
|2013|    2|473.24997699999994|
|2012|    4| 626.0000150000001|
|2012|   12|        585.500023|
|2014|   10|        107.209999|
|2016|    5|             99.25|
|2014|   12|        115.290001|
|2013|    9|        503.479988|
|2013|   10|        525.110016|
|2014|    5|        628.900002|
|2016|    2|         96.650002|
|2013|   12| 566.4100269999999|
|2014|    1|        552.020004|
|2010|   11|        316.759987|
|2011|    3|        357.750004|
|2013|    3|        461.780022|
|2014|    8|        102.199997|
|2013|    6|447.38999900000005|
|2010|    6|        271.499992|
|2012|    7| 605.9999849999999|
|2012|    9|        699.569977|
|2015|    4|        131.149994|
|2010|    5|        262.880009|
|2015|    8|        117.519997|
|2016|    9|        114.040001|
|2010|    9|        291.009998|
|2011|    2|             360.5|
|2011|    4|        350.300007|
|2011|   12|        403.490009|
|2015|   11|        121.620003|
|2011|    8|        392.369995|
|2016|   10|        117.449997|
|2015|    9|        115.440002|
|2013|    7|449.42999299999997|
|2014|    9|        102.720001|
|2013|    4|        432.069996|
|2014|    3| 539.5899730000001|
|2015|   10|        119.449997|
|2016|    6|         98.959999|
|2013|   11|        547.809975|
|2011|    5|        346.880009|
|2013|    5|        455.810005|
|2011|    7|399.67998900000003|
|2010|    8|        260.549995|
|2016|   12|        116.779999|
|2014|    2| 545.6099780000001|
|2012|   11|        594.170021|
|2016|    1|        102.410004|
|2016|    4|111.33000200000001|
|2014|    6|        644.470024|
|2011|    6|        344.649998|
|2010|   10|        314.289997|
|2015|    3|        128.320007|
|2010|    2|        202.000004|
|2010|    3|        234.459999|
|2011|   11|        401.560005|
|2012|    1|453.07002300000005|
|2015|    7|        130.699997|
|2012|    2|        535.700005|
|2014|   11|        118.050003|
|2015|    6|        130.050003|
|2010|    4|268.19001000000003|
|2012|    3| 610.3099900000001|
|2011|   10|        415.990002|
|2012|    5| 581.2300190000001|
|2013|    1| 541.6300200000001|
|2013|    8|             504.0|
|2016|    8|        109.209999|
|2015|    1|        116.849998|
|2011|    1|        344.440006|
|2015|    5|        131.399994|
|2010|    1|        213.249994|
|2012|    6|        583.100021|
|2011|    9|        412.000004|
|2014|    7|             98.25|
|2016|    3|        108.879997|
+----+-----+------------------+

In [156]:
df_pyspark.groupBy(['Year', 'Month']).max('Low').withColumnRenamed('max(Low)', 'maxLow').describe().show()

+-------+------------------+-----------------+------------------+
|summary|              Year|            Month|            maxLow|
+-------+------------------+-----------------+------------------+
|  count|                84|               84|                84|
|   mean|            2013.0|              6.5| 330.9219059404761|
| stddev|2.0120121200142433|3.472785764174839|195.21157232941835|
|    min|              2010|                1|         96.650002|
|    max|              2016|               12|        699.569977|
+-------+------------------+-----------------+------------------+

## Main Task