# DS CA3
## Task 1
Written by Babak Hosseini Mohtasham 810101408, Parsa Ahmadi 810101609 and Mahdy Naeini 810101536\

### Libraries

In [175]:
import pyspark
from pyspark.sql import SparkSession
from IPython.display import display, HTML
display(HTML('<style>pre { white-space: pre !important; }</style>'))
from pyspark.sql import functions

## Warm-Up!

In [176]:
def show_df(df,n=5):
    print(f'Count of data frame is: {df.count()}')
    df.show(n)

In [177]:
stocks_spark = SparkSession.builder.appName('stocks').getOrCreate()

24/04/11 14:33:59 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [178]:
df_pyspark = stocks_spark.read.csv('stocks.csv',header=True,inferSchema=True)

In [179]:
show_df(df_pyspark)
df_pyspark.printSchema()
df_pyspark.describe().show()

Count of data frame is: 1762
+----------+----------+----------+------------------+------------------+---------+------------------+
|      Date|      Open|      High|               Low|             Close|   Volume|         Adj Close|
+----------+----------+----------+------------------+------------------+---------+------------------+
|2010-01-04|213.429998|214.499996|212.38000099999996|        214.009998|123432400|         27.727039|
|2010-01-05|214.599998|215.589994|        213.249994|        214.379993|150476200|27.774976000000002|
|2010-01-06|214.379993|    215.23|        210.750004|        210.969995|138040000|27.333178000000004|
|2010-01-07|    211.75|212.000006|        209.050005|            210.58|119282800|          27.28265|
|2010-01-08|210.299994|212.000006|209.06000500000002|211.98000499999998|111902700|         27.464034|
+----------+----------+----------+------------------+------------------+---------+------------------+
only showing top 5 rows

root
 |-- Date: date (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

+-------+------------------+------------------+------------------+-----------------+-------------------+------------------+
|summary|              Open|              High|               Low|            Close|             Volume|         Adj Close|
+-------+------------------+------------------+------------------+-----------------+-------------------+------------------+
|  count|              1762|              1762|              1762|             1762|               1762|              1762|
|   mean| 313.0763111589103| 315.9112880164581| 309.8282405079457|312.9270656379113|9.422577587968218E7| 75.00174115607275|
| stddev|185.29946803981522|186.89817686485767|183.38391664371008|185.1471036170943|6.020518776592709E7| 28.57492972179906|
|    min|              90.0|         90.699997|         89.470001|        90.279999|           11475900|         24.881912|
|    max|        702.409988|        705.070023|        699.569977|       702.100021|          470249500|127.96609099999999|
+-------+------------------+------------------+------------------+-----------------+-------------------+------------------+

In [180]:
show_df(df_pyspark.drop()) #No null values

Count of data frame is: 1762
+----------+----------+----------+------------------+------------------+---------+------------------+
|      Date|      Open|      High|               Low|             Close|   Volume|         Adj Close|
+----------+----------+----------+------------------+------------------+---------+------------------+
|2010-01-04|213.429998|214.499996|212.38000099999996|        214.009998|123432400|         27.727039|
|2010-01-05|214.599998|215.589994|        213.249994|        214.379993|150476200|27.774976000000002|
|2010-01-06|214.379993|    215.23|        210.750004|        210.969995|138040000|27.333178000000004|
|2010-01-07|    211.75|212.000006|        209.050005|            210.58|119282800|          27.28265|
|2010-01-08|210.299994|212.000006|209.06000500000002|211.98000499999998|111902700|         27.464034|
+----------+----------+----------+------------------+------------------+---------+------------------+
only showing top 5 rows

In [181]:
show_df(df_pyspark.filter(df_pyspark['Close'] < 500).select(['Open','Close','Volume']))

Count of data frame is: 1359
+----------+------------------+---------+
|      Open|             Close|   Volume|
+----------+------------------+---------+
|213.429998|        214.009998|123432400|
|214.599998|        214.379993|150476200|
|214.379993|        210.969995|138040000|
|    211.75|            210.58|119282800|
|210.299994|211.98000499999998|111902700|
+----------+------------------+---------+
only showing top 5 rows

In [182]:
show_df(df_pyspark.filter((df_pyspark['Open'] > 200) & (df_pyspark['Close'] < 200)).select(['Open', 'Close', 'Volume']))

Count of data frame is: 3
+------------------+----------+---------+
|              Open|     Close|   Volume|
+------------------+----------+---------+
|206.78000600000001|    197.75|220441900|
|        204.930004|199.289995|293375600|
|        201.079996|192.060003|311488100|
+------------------+----------+---------+

In [183]:
df_pyspark = df_pyspark.withColumn('Year', functions.year(df_pyspark['Date']))
show_df(df_pyspark)

Count of data frame is: 1762
+----------+----------+----------+------------------+------------------+---------+------------------+----+
|      Date|      Open|      High|               Low|             Close|   Volume|         Adj Close|Year|
+----------+----------+----------+------------------+------------------+---------+------------------+----+
|2010-01-04|213.429998|214.499996|212.38000099999996|        214.009998|123432400|         27.727039|2010|
|2010-01-05|214.599998|215.589994|        213.249994|        214.379993|150476200|27.774976000000002|2010|
|2010-01-06|214.379993|    215.23|        210.750004|        210.969995|138040000|27.333178000000004|2010|
|2010-01-07|    211.75|212.000006|        209.050005|            210.58|119282800|          27.28265|2010|
|2010-01-08|210.299994|212.000006|209.06000500000002|211.98000499999998|111902700|         27.464034|2010|
+----------+----------+----------+------------------+------------------+---------+------------------+----+
only showing top 5 rows

In [184]:
show_df(df_pyspark.groupBy('Year').min(('Volume')))

Count of data frame is: 7
+----+-----------+
|Year|min(Volume)|
+----+-----------+
|2015|   13046400|
|2013|   41888700|
|2014|   14479600|
|2012|   43938300|
|2016|   11475900|
+----+-----------+
only showing top 5 rows

In [185]:
show_df(df_pyspark.groupBy('Year').min('Volume').withColumnRenamed('min(Volume)', 'minVolume'),10)

Count of data frame is: 7
+----+---------+
|Year|minVolume|
+----+---------+
|2015| 13046400|
|2013| 41888700|
|2014| 14479600|
|2012| 43938300|
|2016| 11475900|
|2010| 39373600|
|2011| 44915500|
+----+---------+

In [186]:
df_pyspark = df_pyspark.withColumn('Month', functions.month(df_pyspark['Date']))
show_df(df_pyspark.groupBy(['Year', 'Month']).max('Low').withColumnRenamed('max(Low)', 'maxLow'), 84)

Count of data frame is: 84
+----+-----+------------------+
|Year|Month|            maxLow|
+----+-----+------------------+
|2012|   10|        665.550026|
|2010|    7|        260.300003|
|2010|   12|        325.099991|
|2015|    2|        131.169998|
|2014|    4|        589.799988|
|2015|   12|        117.809998|
|2016|    7|            103.68|
|2016|   11|        111.400002|
|2012|    8| 673.5400089999999|
|2013|    2|473.24997699999994|
|2012|    4| 626.0000150000001|
|2012|   12|        585.500023|
|2014|   10|        107.209999|
|2016|    5|             99.25|
|2014|   12|        115.290001|
|2013|    9|        503.479988|
|2013|   10|        525.110016|
|2014|    5|        628.900002|
|2016|    2|         96.650002|
|2013|   12| 566.4100269999999|
|2014|    1|        552.020004|
|2010|   11|        316.759987|
|2011|    3|        357.750004|
|2013|    3|        461.780022|
|2014|    8|        102.199997|
|2013|    6|447.38999900000005|
|2010|    6|        271.499992|
|2012|    7| 605.9999849999999|
|2012|    9|        699.569977|
|2015|    4|        131.149994|
|2010|    5|        262.880009|
|2015|    8|        117.519997|
|2016|    9|        114.040001|
|2010|    9|        291.009998|
|2011|    2|             360.5|
|2011|    4|        350.300007|
|2011|   12|        403.490009|
|2015|   11|        121.620003|
|2011|    8|        392.369995|
|2016|   10|        117.449997|
|2015|    9|        115.440002|
|2013|    7|449.42999299999997|
|2014|    9|        102.720001|
|2013|    4|        432.069996|
|2014|    3| 539.5899730000001|
|2015|   10|        119.449997|
|2016|    6|         98.959999|
|2013|   11|        547.809975|
|2011|    5|        346.880009|
|2013|    5|        455.810005|
|2011|    7|399.67998900000003|
|2010|    8|        260.549995|
|2016|   12|        116.779999|
|2014|    2| 545.6099780000001|
|2012|   11|        594.170021|
|2016|    1|        102.410004|
|2016|    4|111.33000200000001|
|2014|    6|        644.470024|
|2011|    6|        344.649998|
|2010|   10|        314.289997|
|2015|    3|        128.320007|
|2010|    2|        202.000004|
|2010|    3|        234.459999|
|2011|   11|        401.560005|
|2012|    1|453.07002300000005|
|2015|    7|        130.699997|
|2012|    2|        535.700005|
|2014|   11|        118.050003|
|2015|    6|        130.050003|
|2010|    4|268.19001000000003|
|2012|    3| 610.3099900000001|
|2011|   10|        415.990002|
|2012|    5| 581.2300190000001|
|2013|    1| 541.6300200000001|
|2013|    8|             504.0|
|2016|    8|        109.209999|
|2015|    1|        116.849998|
|2011|    1|        344.440006|
|2015|    5|        131.399994|
|2010|    1|        213.249994|
|2012|    6|        583.100021|
|2011|    9|        412.000004|
|2014|    7|             98.25|
|2016|    3|        108.879997|
+----+-----+------------------+

In [187]:
df_pyspark.groupBy(['Year', 'Month']).max('Low').withColumnRenamed('max(Low)', 'maxLow').describe().show()

+-------+------------------+-----------------+------------------+
|summary|              Year|            Month|            maxLow|
+-------+------------------+-----------------+------------------+
|  count|                84|               84|                84|
|   mean|            2013.0|              6.5| 330.9219059404761|
| stddev|2.0120121200142433|3.472785764174839|195.21157232941835|
|    min|              2010|                1|         96.650002|
|    max|              2016|               12|        699.569977|
+-------+------------------+-----------------+------------------+

## Main Task

In [203]:
spark = SparkSession.builder.appName('spotify').getOrCreate()

In [204]:
df = spark.read.parquet('spotify.parquet', header=True, inferSchema=True)

In [205]:
df.printSchema()

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- album: string (nullable = true)
 |-- album_id: string (nullable = true)
 |-- artists: string (nullable = true)
 |-- artist_ids: string (nullable = true)
 |-- track_number: long (nullable = true)
 |-- disc_number: long (nullable = true)
 |-- explicit: boolean (nullable = true)
 |-- danceability: double (nullable = true)
 |-- energy: double (nullable = true)
 |-- key: long (nullable = true)
 |-- loudness: double (nullable = true)
 |-- mode: long (nullable = true)
 |-- speechiness: double (nullable = true)
 |-- acousticness: double (nullable = true)
 |-- instrumentalness: double (nullable = true)
 |-- liveness: double (nullable = true)
 |-- valence: double (nullable = true)
 |-- tempo: double (nullable = true)
 |-- duration_ms: long (nullable = true)
 |-- time_signature: double (nullable = true)
 |-- year: long (nullable = true)
 |-- release_date: string (nullable = true)

In [206]:
show_df(df)

Count of data frame is: 1204025
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------------+-----------+--------+------------+------+---+------------------+----+-----------+------------+----------------+--------+-------+-------+-----------+--------------+----+------------+
|                  id|                name|               album|            album_id|             artists|          artist_ids|track_number|disc_number|explicit|danceability|energy|key|          loudness|mode|speechiness|acousticness|instrumentalness|liveness|valence|  tempo|duration_ms|time_signature|year|release_date|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------------+-----------+--------+------------+------+---+------------------+----+-----------+------------+----------------+--------+-------+-------+-----------+--------------+----+------------+
|7lmeHLHBe4nmXzuXc...|             Testify|The Battle Of Los...|2eia0myWFgoHuttJy...|['Rage Against Th...|['2d0hyoQ5ynDBnkv...|           1|          1|   false|        0.47| 0.978|  7|            -5.399|   1|     0.0727|      0.0261|         1.09E-5|   0.356|  0.503|117.906|     210133|           4.0|1999|  1999-11-02|
|1wsRitfRRtWyEapl0...|     Guerrilla Radio|The Battle Of Los...|2eia0myWFgoHuttJy...|['Rage Against Th...|['2d0hyoQ5ynDBnkv...|           2|          1|    true|       0.599| 0.957| 11|-5.763999999999999|   1|      0.188|      0.0129|         7.06E-5|   0.155|  0.489| 103.68|     206200|           4.0|1999|  1999-11-02|
|1hR0fIFK2qRG3f3RF...|    Calm Like a Bomb|The Battle Of Los...|2eia0myWFgoHuttJy...|['Rage Against Th...|['2d0hyoQ5ynDBnkv...|           3|          1|   false|       0.315|  0.97|  7|            -5.424|   1|      0.483|      0.0234|         2.03E-6|   0.122|   0.37|149.749|     298893|           4.0|1999|  1999-11-02|
|2lbASgTSoDO7MTuLA...|           Mic Check|The Battle Of Los...|2eia0myWFgoHuttJy...|['Rage Against Th...|['2d0hyoQ5ynDBnkv...|           4|          1|    true|        0.44| 0.967| 11|             -5.83|   0|      0.237|       0.163|         3.64E-6|   0.121|  0.574| 96.752|     213640|           4.0|1999|  1999-11-02|
|1MQTmpYOZ6fcMQc56...|Sleep Now In the ...|The Battle Of Los...|2eia0myWFgoHuttJy...|['Rage Against Th...|['2d0hyoQ5ynDBnkv...|           5|          1|   false|       0.426| 0.929|  2|            -6.729|   1|     0.0701|     0.00162|           0.105|  0.0789|  0.539|127.059|     205600|           4.0|1999|  1999-11-02|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------------+-----------+--------+------------+------+---+------------------+----+-----------+------------+----------------+--------+-------+-------+-----------+--------------+----+------------+
only showing top 5 rows

In [227]:
df=df.withColumn('release_time', functions.to_unix_timestamp(df['release_date'], functions.lit('yyyy-MM-dd')))
show_df(df[['release_date','release_time']],20)

Count of data frame is: 1204025
+------------+------------+
|release_date|release_time|
+------------+------------+
|  1999-11-02|   941488200|
|  1999-11-02|   941488200|
|  1999-11-02|   941488200|
|  1999-11-02|   941488200|
|  1999-11-02|   941488200|
|  1999-11-02|   941488200|
|  1999-11-02|   941488200|
|  1999-11-02|   941488200|
|  1999-11-02|   941488200|
|  1999-11-02|   941488200|
|  1999-11-02|   941488200|
|  1999-11-02|   941488200|
|  1992-11-03|   720736200|
|  1992-11-03|   720736200|
|  1992-11-03|   720736200|
|  1992-11-03|   720736200|
|  1992-11-03|   720736200|
|  1992-11-03|   720736200|
|  1992-11-03|   720736200|
|  1992-11-03|   720736200|
+------------+------------+
only showing top 20 rows

## Questions

1. **Read about how Spark and Hadoop work. What does the term ‘lazy evaluation’ mean
for them? Explain with a simple example.**\
With Spark, only one-step is needed where data is read into memory, operations performed, and the results written back—resulting in a much faster execution. Spark also reuses data by using an in-memory cache to greatly speed up machine learning algorithms that repeatedly call a function on the same dataset.\
Hadoop is an open source framework based on Java that manages the storage and processing of large amounts of data for applications. Hadoop uses distributed storage and parallel processing to handle big data and analytics jobs, breaking workloads down into smaller workloads that can be run at the same time.\
Lazy evaluation is an evaluation strategy which holds the evaluation of an expression until its value is needed. It avoids repeated evaluation.

2. **Your main task’s dataset has about 1,200,000 rows, which makes it quite hard, and even sometimes impossible, to work with. Explain how parquet files try to solve this problem, compared to normal file formats like csv.**
Parquet file format is a columnar storage format, which means that data for each column is stored together. The storage mechanism enables better compression and typically results in smaller file sizes compared to row-based formats. CSV is a row-based format, where each row is represented as a separate line in the file.

3. **Parquet file format is a columnar storage format, which means that data for each column is stored together. The storage mechanism enables better compression and typically results in smaller file sizes compared to row-based formats. CSV is a row-based format, where each row is represented as a separate line in the file.**
`DataFrame.checkpoint(eager=True)`: Returns a checkpointed version of this Dataset. Checkpointing can be used to truncate the logical plan of this DataFrame, which is especially useful in iterative algorithms where the plan may grow exponentially. It will be saved to files inside the checkpoint directory set with `SparkContext.setCheckpointDir()`.

4. **Top companies stream their data on a regular routine, e.g. daily. How can we save data, so that we could filter it based on specific columns, e.g. date, faster than regular filtering?**
A column-oriented DBMS or columnar DBMS is a database management system (DBMS) that stores data tables by column rather than by row. Benefits include more efficient access to data when only querying a subset of columns (by eliminating the need to read columns that are not relevant), and more options for data compression. However, they are typically less efficient for inserting new data.

5. **Let's face off Pandas and PySpark in the data analysis arena! When does each library truly shine, and why? Consider factors like data size, processing complexity, and user experience**
* **Ease of Use**: Pandas is generally easier to use and has a lower learning curve compared to PySpark. The pandas API is simple and the syntax is similar to SQL and Excel. This makes it easy for analysts and data scientists to get started with data analysis and manipulation using pandas.
* **Interactivity**: Pandas provides an interactive environment for data exploration and analysis through Jupyter notebooks. This allows us to visualize data and experiment with code more easily. PySpark, on the other hand, can have a higher barrier to entry. It requires setting up a distributed computing cluster before running code.
* **Well-suited for small to medium-sized data**: Pandas is well-suited for handling small to medium-sized datasets that can fit in memory. It provides fast and efficient data manipulation and processing on a single machine, without requiring distributed computing resources.
* **Flexibility**: The pandas module is highly flexible and can work with a wide variety of data sources. We can use CSV, Excel, SQL databases, parquet files, and more. It also provides a wide range of data manipulation functions that can handle complex data transformation tasks.
* **Integration with Other Libraries**: Pandas integrates well with other data science libraries in the Python ecosystem, such as NumPy, Matplotlib, and Scikit-learn. This makes it easy to build end-to-end data analysis pipelines and machine learning workflows using a variety of tools.
* **Community Support**: Pandas has a large and active community of users and contributors. It also has extensive documentation that explains each function with examples. This makes it easy to find help and resources when working with Pandas.
* **Scalability**: PySpark is designed to handle large-scale datasets and distributed computing. Using pyspark, we can perform parallel processing across a cluster of machines. We can split data into smaller partitions and perform parallel processing on them. This makes pyspark faster and more efficient than Pandas for large-scale data processing.
* **Distributed Computing**: PySpark can distribute computations across a cluster of machines. This helps us process large-scale data that may not fit into the memory of a single machine. Due to this, PySpark is ideal for big data processing.
* **Speed**: PySpark is faster than Pandas when processing large datasets. It can leverage the computing power of a cluster of machines to perform parallel processing. This can significantly reduce processing times.
* **Integration with Big Data Tools**: PySpark integrates with a wide range of big data tools and technologies, including Hadoop, Hive, Cassandra, and HBase. This makes it easier to work with large datasets stored in distributed file systems and other big data stores.
* **Integration with Hadoop Ecosystem**: PySpark integrates seamlessly with the Hadoop ecosystem. This enables us to work with data stored in Hadoop Distributed File System (HDFS) and other data sources such as HBase, Hive, and Cassandra.
* **Streaming Data Processing**: PySpark Streaming allows users to process real-time data streams using Spark’s distributed computing capabilities. It can ingest data from various sources, including Kafka, Flume, and Twitter, and process them in near real-time. Pandas doesn’t have any such feature.